#skye, #tokyo, #tuscany, #buenos-aires {
  display: none;
}

#results img {
  max-width: 100%;
}

#results {
  font-family: open sans;
}

#header {
  background-color: #c9f7ee;
  background-image: url("http://www.transparenttextures.com/patterns/arches.png");

}

#header h1{
  font-family: Cabin;
}

#header p {
  font-family: open sans;
}

.photo {
  text-align: center;
  background-image: url('../images/black_thread.jpg');
}

#vacation {
  background-image: url('../images/black_thread.jpg');
  color: white;
  padding: 20px;
}

.container-fluid, #results {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#submit {
  margin-bottom: 20px;
}

#footer {
  background-image:
  url('../images/black_thread.jpg');
  color: white;
  font-size: 14px;

}




 /*Media Query
========================*/

@media screen and (max-width: 768px) {
  .photo img {
    width: 100%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .photo img {
    width: 100%;
  }
}
